<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ title }}</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6" *ngFor="let p of camas">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-info elevation-1">
                            <i class="fas fa-procedures"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Cama {{ p.cama }}</span>
                            <span class="info-box-number">
                                DNI: {{ p.dni }}<br>
                                Nombre: {{ p.nombre }}<br>
                                Diagnóstico: {{ p.diagnostico }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.card-body -->

    <!-- /.card -->
</section>
<!-- /.content -->