<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ title }}</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6" *ngFor="let c of sala.camas">
                    <a [routerLink]="['/paciente', c.paciente ? c.paciente._id : '']"
                        class="text-decoration-none text-dark">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-info elevation-1">
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Cama {{ c.numero }}</span>
                                <span class="info-box-number">
                                    DNI: {{ (c.paciente && c.paciente.dni) ? c.paciente.dni : 'No asignado' }}<br>
                                    Nombre: {{ (c.paciente && c.paciente.nombre) ? c.paciente.nombre : 'No asignado'
                                    }}<br>
                                    Diagnóstico:
                                    @if(c.paciente.diagnosticos.length >0){

                                    {{ c.paciente.diagnosticos[0].tipo }}<br>

                                    }


                                </span>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- /.card-body -->

    <!-- /.card -->
</section>
<!-- /.content -->