<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ title }}</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="dni">Buscar paciente por DNI</label>
        <input type="text" id="dni" class="form-control" placeholder="Ingrese DNI" [(ngModel)]="dni"
          (input)="buscarPorDni()" />
      </div>
      <div class="row mt-4">
        <div class="col-md-4" *ngFor="let sala of salas">
          <div class="info-box bg-light" [routerLink]="['/camas', sala._id]" style="cursor: pointer;">
            <span class="info-box-icon bg-info"><i class="fas fa-procedures"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{ sala.nombre }}</span>
              <span>Camas Ocupadas: </span><br />
              <span>Camas Libres: </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /.card-body -->

  <!-- /.card -->
</section>
<!-- /.content -->